header {
    background-image: url(/Users/mariasofia/Desktop/Esercizi/html-css-booleaner/img/pattern.png);
    background-color: cornflowerblue;
}

.logo {
    width: 300px;
    padding-top: 4%;
}

.titolo {
    margin-top: 10px;
    font-size: 50px;
}

.immagini {
    padding-left: 10px;
}

.sottotitolo {
    margin-top: -40px;
    color: rgb(140, 140, 140);
}

.booleaner {
    color: dodgerblue;
}

.descrizione {
    font-size: 12px;
    margin-top: 7px;
}

.evidenziatore {
    background-color: rgba(255, 255, 0, 0.458);
}

.lista {
    margin-left: -25px;
} 

.Tabella {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
}

  thead {
    background-color: #09b5ff;
    color: white;
}
  
  tbody:nth-child(even){
    background-color: #4aa1f868
} 

.foot {
    color: rgb(140, 140, 140);
}

.imgcontenitore {
    position: relative;
    color: white;
}

.testoimg {
    position: absolute;
    top: 8px;
    left: 16px;
}